<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>events</title>
    <script type="text/javascript" src="/js/vue.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body background="/images/bg.jpg">
<div id="app">
<nav class="navbar navbar-default" role="navigation"> 
    <div class="container-fluid"> 
        <div class="navbar-header"> 
            <img class="img-circle image-responsive" src="/images/a.jpg" style="width:50px;height: 50px" alt="头像"/>
            <a href="/index.html">&nbsp;Phoebe&nbsp;&nbsp;</a>  
        </div> 
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/login.html"><span class="glyphicon glyphicon-log-in"></span> 注销</a></li> 
        </ul>
    </div> 
</nav>
<div class="container" style="background-color: white">
    <div class="page-header text-center">
        <h1><a href="#">清单</a></h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th class="text-center">清单列表</th>
                <th class="text-center">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="list,index in lists">
                <th width="60%"><p class="text-center"><a href="/list.html" v-on:click="getTitle(index)">{{ list.title }}</a></p></th>
                <th width="40%" class="text-center">
                    <button type="button" class="btn btn btn-primary btn-sm" data-toggle="modal" data-target="#editlist" v-on:click="editList(index)">
                        <span class="glyphicon glyphicon-edit"> 编辑</span>
                    </button>
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-remove" v-on:click="deleteList(index)"> 删除</span> 
                    </button>
                       <!-- 模态框（Modal） -->
                        <div class="modal fade" id="editlist" tabindex="-1" role="dialog" aria-labelledby="editlist" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            &times;
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">
                                            编辑
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        <table class="table table-bordered">
                                            <tr>
                                                <th class="text-center">事项名称</th>
                                            </tr>
                                             <tr>
                                                <th><input type="text" class="form-control" v-model="newlist.title"/></th>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                        </button>
                                        <button type="button" class="btn btn-primary">
                                            保存修改
                                        </button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                </th>
            </tr>
            <tr >
                <td colspan="4">
                    <a href="#" data-toggle="modal" data-target="#addlist" v-on:click="initNewlist">
                        <span class="glyphicon glyphicon-plus" >新建清单</span>
                    </a>
                    <!-- 模态框（Modal） -->
                    <div class="modal fade" id="addlist" tabindex="-1" role="dialog" aria-labelledby="addlist" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        新建清单
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-bordered">
                                        <tr>
                                            <th class="text-center">清单名称</th>
                                        </tr>
                                         <tr>
                                            <th><input type="text" class="form-control" v-model="newlist.title"/></th>
                                        </tr>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                    </button>
                                    <button type="button" class="btn btn-primary" v-on:click="addList">
                                        保存
                                    </button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</body>
<script type="text/javascript" src="/js/main.js"></script>
</html>